[Unit]
Description=Hermes Order System stack
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
WorkingDirectory=/home/vagrant/hermes/hermes-stack
ExecStart=/bin/bash -lc "source ../service-versions.env && /usr/local/bin/docker stack deploy -c docker-stack.yml --with-registry-auth hermes"

[Install]
WantedBy=multi-user.target
